///// main

* {
    box-sizing: border-box;
}

.container {
    width: 1170px;
    margin: 40px auto;
}

.moving-border-radius {
    display: block;
    border:  1px solid $moving-button-color;
    width: 92px;
    text-align: center;
    border-radius: 12px;
    font: 12px'RVMontserrat', sans-serif !important;
    color: #3949AB;
}

.second-nav {
    width: 1143px;
    height: 48px;
    margin-bottom: 40px;
    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        li { 
            margin-right: 50px;
            &:first-child {
                padding: 0 10px;
                border-bottom: solid 2px $main-color;
                > a {
                    color: $main-color;
                }
            }
            &:last-child {
                margin-right: auto;
                background-color: #536DFE;
                height: 48px;
                width: 178px;
                justify-content: center;
                align-items: center;
                display: flex;
                > a {
                    color: white;
                }
            }
            a {
                text-decoration: none;
                color: grey;
                font-size: .8rem;
            }
        }
    }
}


.top-section {
    display: flex;
    box-shadow: 0 0 44px rgba(0, 0, 0, .15);
    width: 1170px;
    padding: 30px;
    &__img-container {
        width: 441px;
        height: 441px;
        margin-right: 49px;
        img {
            width: 100%;
        }
    }
    &__text-container {
        width: 608px;
        display: flex;
        flex-direction: column;
        position: relative;
        a {
            text-decoration: none;
        }
        h2 {
            font: bold 42px/50px 'RVMontserrat', sans-serif;
            color: #424242;
        } 
        p {
            font: 18px/30px Georgia, sans-serif;
            margin: 0;
            color: rgba(0, 0, 0, .8);
        }
        .moving-border-radius {
            display: block;
            border:  1px solid $moving-button-color;
            width: 92px;
            text-align: center;
            border-radius: 12px;
            font: 12px'RVMontserrat', sans-serif !important;
            color: #3949AB;
        }
        div {
            border-top: 1px solid rgba(128, 128, 128, 0.158);
            margin-top: auto;
            align-self: flex-start;
            width: 100%;
            padding-top: 20px;
        }
        &_-bottom-part {
            border-top: 1px solid rgba(128, 128, 128, 0.158);
            display: flex;
            font-size: .8rem;
            position: absolute;
            width: 100%;
            bottom: 0;
            > img {
                margin-right: 10px;
            }
            > .by-mymove {
                font: bold 12px/24px 'RVMontserrat', sans-serif;
                    color: #424242;
                    letter-spacing: 0.86px;
                > span {
                    font: 12px/24px 'RVMontserrat', sans-serif;
                    color: #757575;
                    letter-spacing: 0.86px;
                    line-height: 24px;
                }
            }
        }
    }
}



.bottom-section {
    height: 1128px;
    width: 1170px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;

    &__containers {
        width: 370px;
        height: 549px;
        margin: 0 30px 30px 0;
        box-shadow: 0 0 44px rgba(0, 0, 0, .15);
        position: relative;
        h3 {
            font: bold 26px/34px 'RVMontserrat', sans-serif;
            color: #424242;
            margin: 0;
        }
        p {
            font: 14px/19px Georgia, sans-serif;
        }

        &_-top-part {
            padding: 30px 30px 0 30px;
        }

        &_-bottom-part {
            border-top: 1px solid rgba(128, 128, 128, 0.158);
            display: flex;
            position: absolute;
            bottom: 0;
            width: 100%;
            align-items: center;
            padding: 10px 180px 10px 31px;
            > img {
                margin-right: 10px;
            }

            .by-mymove {
                font: bold 12px/24px 'RVMontserrat', sans-serif;
                    color: #424242;
                    letter-spacing: 0.86px;
                > span {
                    font: 12px/24px 'RVMontserrat', sans-serif;
                    color: #757575;
                    letter-spacing: 0.86px;
                    line-height: 24px;
                }
            }
        }
    }
    .remove-right-margin {
        margin-right: 0;
    }
}

.add-width {
    width: 142px;
}

.load-more-articles {
    display: flex;
    justify-content: space-between;
    > button {
        width: 249px;
        height: 48px;
        background-color: #536DFE;
        margin: 76px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: .8rem;
        border: none;
        font: bold 14px/14px 'RVMontserrat', sans-serif;
        letter-spacing: 0.24px;
    }
    > hr {
        width: 401px;
        padding: 0;
        margin: auto 0;
        border: 0;
        border-top: 1px solid rgba(128, 128, 128, 0.158);
    }
}

.capitalize {
    text-transform: uppercase;
}