body {
  font-family: "RVMontserrat", sans-serif;
}

.hero {
  background: linear-gradient(to right, rgba(63, 81, 181, 0.9), #283593), url("../img/hero-image.jpg");
  width: 1440px;
  height: 419px;
  position: relative;
  text-align: center;
}
.hero__color {
  position: absolute;
  width: 100vw;
  height: 419px;
  opacity: 0.9;
}
.hero__logoContainer {
  width: 20%;
}
.hero__logoContainer-logo {
  height: 37px;
  width: 152px;
  margin: 0 20px;
}
.hero .hero-yellow-text {
  color: #FDD835;
  font-size: 18px;
  line-height: 24px;
}
.hero h1 {
  font: bold 54px/56px "RVMontserrat", sans-serif;
  color: white;
}
.hero p {
  font-size: 0.9rem;
  color: #D8D8D8;
  font-weight: lighter;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: center;
}
.nav ul {
  display: flex;
  width: 75%;
  justify-content: flex-end;
  align-items: center;
}
.nav ul li a {
  text-decoration: none;
  color: #D8D8D8;
  margin: 10px 20px;
  font: 12px/24px "RVMontserrat", sans-serif;
}
.nav .hamburger-circle-container {
  width: 5%;
  margin-top: 10px;
}
.nav .hamburger-circle-container .hamburger-circle {
  height: 49px;
  width: 49px;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 40px auto;
}

.moving-border-radius {
  display: block;
  border: 1px solid #3949AB;
  width: 92px;
  text-align: center;
  border-radius: 12px;
  font: 12px "RVMontserrat", sans-serif !important;
  color: #3949AB;
}

.second-nav {
  width: 1143px;
  height: 48px;
  margin-bottom: 40px;
}
.second-nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.second-nav ul li {
  margin-right: 50px;
}
.second-nav ul li:first-child {
  padding: 0 10px;
  border-bottom: solid 2px #3F51B5;
}
.second-nav ul li:first-child > a {
  color: #3F51B5;
}
.second-nav ul li:last-child {
  margin-right: auto;
  background-color: #536DFE;
  height: 48px;
  width: 178px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.second-nav ul li:last-child > a {
  color: white;
}
.second-nav ul li a {
  text-decoration: none;
  color: grey;
  font-size: 0.8rem;
}

.top-section {
  display: flex;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.15);
  width: 1170px;
  padding: 30px;
}
.top-section__img-container {
  width: 441px;
  height: 441px;
  margin-right: 49px;
}
.top-section__img-container img {
  width: 100%;
}
.top-section__text-container {
  width: 608px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.top-section__text-container a {
  text-decoration: none;
}
.top-section__text-container h2 {
  font: bold 42px/50px "RVMontserrat", sans-serif;
  color: #424242;
}
.top-section__text-container p {
  font: 18px/30px Georgia, sans-serif;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}
.top-section__text-container .moving-border-radius {
  display: block;
  border: 1px solid #3949AB;
  width: 92px;
  text-align: center;
  border-radius: 12px;
  font: 12px "RVMontserrat", sans-serif !important;
  color: #3949AB;
}
.top-section__text-container div {
  border-top: 1px solid rgba(128, 128, 128, 0.158);
  margin-top: auto;
  align-self: flex-start;
  width: 100%;
  padding-top: 20px;
}
.top-section__text-container_-bottom-part {
  border-top: 1px solid rgba(128, 128, 128, 0.158);
  display: flex;
  font-size: 0.8rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.top-section__text-container_-bottom-part > img {
  margin-right: 10px;
}
.top-section__text-container_-bottom-part > .by-mymove {
  font: bold 12px/24px "RVMontserrat", sans-serif;
  color: #424242;
  letter-spacing: 0.86px;
}
.top-section__text-container_-bottom-part > .by-mymove > span {
  font: 12px/24px "RVMontserrat", sans-serif;
  color: #757575;
  letter-spacing: 0.86px;
  line-height: 24px;
}

.bottom-section {
  height: 1128px;
  width: 1170px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.bottom-section__containers {
  width: 370px;
  height: 549px;
  margin: 0 30px 30px 0;
  box-shadow: 0 0 44px rgba(0, 0, 0, 0.15);
  position: relative;
}
.bottom-section__containers h3 {
  font: bold 26px/34px "RVMontserrat", sans-serif;
  color: #424242;
  margin: 0;
}
.bottom-section__containers p {
  font: 14px/19px Georgia, sans-serif;
}
.bottom-section__containers_-top-part {
  padding: 30px 30px 0 30px;
}
.bottom-section__containers_-bottom-part {
  border-top: 1px solid rgba(128, 128, 128, 0.158);
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  padding: 10px 180px 10px 31px;
}
.bottom-section__containers_-bottom-part > img {
  margin-right: 10px;
}
.bottom-section__containers_-bottom-part .by-mymove {
  font: bold 12px/24px "RVMontserrat", sans-serif;
  color: #424242;
  letter-spacing: 0.86px;
}
.bottom-section__containers_-bottom-part .by-mymove > span {
  font: 12px/24px "RVMontserrat", sans-serif;
  color: #757575;
  letter-spacing: 0.86px;
  line-height: 24px;
}
.bottom-section .remove-right-margin {
  margin-right: 0;
}

.add-width {
  width: 142px;
}

.load-more-articles {
  display: flex;
  justify-content: space-between;
}
.load-more-articles > button {
  width: 249px;
  height: 48px;
  background-color: #536DFE;
  margin: 76px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.8rem;
  border: none;
  font: bold 14px/14px "RVMontserrat", sans-serif;
  letter-spacing: 0.24px;
}
.load-more-articles > hr {
  width: 401px;
  padding: 0;
  margin: auto 0;
  border: 0;
  border-top: 1px solid rgba(128, 128, 128, 0.158);
}

.capitalize {
  text-transform: uppercase;
}

.footer {
  height: 366px;
  background-color: #3F51B5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer li {
  list-style: none;
}
.footer__left-nav {
  height: 165px;
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  justify-content: space-between;
}
.footer__left-nav li {
  color: white;
  font: 16px/33px "RVMontserrat", sans-serif;
  letter-spacing: 1.14px;
}
.footer__right-nav {
  display: flex;
  height: 208px;
  margin: 44px;
  align-items: center;
  margin-top: 70px;
}
.footer__right-nav li {
  margin-bottom: 10px;
}
.footer__bottom-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  margin-bottom: 0;
  padding-bottom: 10px;
}
.footer__bottom-nav li {
  margin: 0 20px;
  border-left: 1px solid white;
  padding-left: 20px;
  font: lighter 14px/24px "RVMontserrat", sans-serif;
  letter-spacing: 1px;
}
.footer__bottom-nav li:first-child {
  border-left: none;
}

.secondPageNav {
  background: linear-gradient(to right, rgba(63, 81, 181, 0.9), #283593);
}

.second-container {
  width: 931px;
  margin: 18px 273px 0 236px;
}
.second-container > h1 {
  width: 850px;
  padding-left: 110px;
  font-weight: 200;
  font: 42px/48px Tahoma, sans-serif;
  color: #424242;
}

.breadcrumb {
  list-style: none;
  width: 650px;
  margin: 0 483px 0 338px;
  padding: 0;
}
.breadcrumb li {
  display: inline;
  margin: 0 10px;
  font-size: 12px;
  letter-spacing: 0.86px;
  line-height: 24px;
  font-family: Tahoma, sans-serif;
}
.breadcrumb li a {
  color: #303F9F;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: 0.86px;
  line-height: 24px;
}
.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.breadcrumb__arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.header-by-mymove {
  display: flex;
  padding-left: 110px;
  margin-bottom: 50px;
}
.header-by-mymove > img {
  padding-right: 10px;
}
.header-by-mymove > p {
  font-size: 0.7rem;
}
.header-by-mymove > .by-mymove {
  font: bold 12px/24px "RVMontserrat", sans-serif;
  color: #424242;
  letter-spacing: 0.86px;
}
.header-by-mymove > span {
  font: 12px/24px "RVMontserrat", sans-serif;
  color: #757575;
  letter-spacing: 0.86px;
  line-height: 24px;
}

.hugeList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.hugeList > ul {
  list-style: none;
  padding-left: 0;
  margin-right: 60px;
}
.hugeList > ul:last-child {
  margin-right: -60px;
}
.hugeList > ul > a {
  text-decoration: none;
  color: #3949AB;
  font: 16px/24px Tahoma, sans-serif;
}
.hugeList > ul > a > li {
  padding-bottom: 20px;
}
.hugeList > h2 {
  width: 100%;
  font: bold 30px/32px Tahoma, sans-serif;
  color: #424242;
}

.second-bottom {
  margin: 0 0 100px -101px;
  height: 611px;
  flex-wrap: wrap;
  display: flex;
}
.second-bottom > h3 {
  width: 100%;
  font: 24px/32px Tahoma, sans-serif;
  color: #424242;
}

table {
  color: #424242;
  line-height: 32px;
  width: 670px;
  height: 348px;
  border: 1px solid #CCCCCC;
}
table td {
  font-family: Tahoma;
  font-size: 16px;
  color: #333333;
  border: 1px solid #CCCCCC;
  padding-left: 40px;
}
table th {
  background: #F5F5F5;
  border-radius: 3px 3px 0 0;
}

.text-section {
  border-top: 1px solid black;
  padding: 0 162px 0 99px;
  font: 21px/33px Georgia, sans-serif;
}
.text-section h2 {
  font: bold 30px/32px Tahoma, sans-serif;
  color: #424242;
}
.text-section caption {
  font: bold 30px/32px Tahoma, sans-serif;
  color: #424242;
  text-align: left;
  margin-bottom: 20px;
}
.text-section h3 {
  font: 21px/32px Tahoma, sans-serif;
  color: #757575;
}
.text-section__fancy-font {
  font: italic 28px/40px Georgia, sans-serif;
  color: #757575;
}
.text-section span {
  color: #3949AB;
}

figcaption {
  font: 12px/24px Tahoma, sans-serif;
  color: #757575;
  text-align: center;
}

.courtney-text {
  border-top: 3px solid rgba(128, 128, 128, 0.158);
  padding-top: 30px;
  margin-top: 50px;
  font: italic 18px/30px Georgia, sans-serif;
}
.courtney-text > span {
  font: bold italic 18px/30px Georgia, sans-serif;
}

/*# sourceMappingURL=styles.css.map */
